.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
}
.mainbig {
  /* min-height: 100vh; */
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bigiframe {
  height: 100%;
  width: 100%;
  max-width: 1900px;
  border-radius: 4px;
  height: 40rem;
}
.card_music {
  padding: 9px;
  width: 40rem;
  font-size: 1rem;
  line-height: 1.15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_music > a > iframe {
  border-radius: 5px;
  height: 18vh;
  width: 39rem;
}
.card_music > div {
  display: flex;

  justify-content: flex-end;
}
.cards {
  padding: 9px;
  width: 40rem;
  color: red;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-top: 10px;
}
.cards:hover,
.cards:focus,
.cards:active {
  color: #0070f3;
  border-color: #0070f3;
}

.footer {
  display: flex;
  flex: 1;
  margin: 10px;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.description {
  color: #1967d2;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: #e8f0fe;
  padding: 10px;
  border-radius: 4px;
  text-decoration: italic;
}
.title {
  /* color: #0070f3; */
  color: #1967d2;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: #e8f0fe;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.title1 {
  /* color: #0070f3; */
  color: #1967d2;
  font-size: 12px;
  font-weight: 700;
  border: none;
  background-color: #e8f0fe;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.titledele {
  color: red;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: #e8f0fe;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.titleback {
  color: #1967d2;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: #e8f0fe;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.title h1:hover,
.title h1:focus,
.title h1:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 300px; */
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
